/* --- Variablen --- */
:root {
    --color-1: #ffeded;
    --color-2: #ffdbdb;
    --color-3: #ffcaca;
    --color-4:  #ffb8b8;
    --color-5:  #ffa6a6;
    --color-6:  #ff9494;
    --color-7: #ff8383;
    --color-8: #ff7171;
    --color-9: #df6363;
    --color-10: #bf5555;
    --color-11: #9f4747;
    --color-12: #803838;
    --color-13: #602a2a;
    --color-14: #401c1c;
    --color-15: #200e0e;
}
/* --- Basic & Navbar --- */
body {
    background-color: var(--color-15);
    color: var(--color-1);
}

.bg-8 {
    background-color: var(--color-8);
    color: var(--color-1);
}
.bg-9 {
    background-color: var(--color-9);
    color: var(--color-1);
}
.card {
    background-color: var(--color-8);
}

.fixed-navbar-space {
    min-height: 50px;
    margin-bottom: 20px;
}

/* --- Homepage --- */

.page-link {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    font-weight: bold;
    color: var(--color-7);
}

.page-link:hover {
    background-color: transparent;
    border: none;
    color: var(--color-3);
    text-decoration: underline;
}
.page-link i {
    margin-left: 7px;
}

.profile-img-container {
    max-width: 250px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--color-8);
    background-color: var(--color-8);
}

/* --- Footer --- */

footer {
    text-align: center;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer .page-link {
    font-size: 1.5rem;
}
.contact-mail {
    font-weight: bold;
    color: var(--color-8);
}
.contact-mail:hover {
    color: var(--color-1);
    background-color: var(--color-8);
}

.contact-container {
    max-width: 300px;
    margin: 0 auto;
}
.contact-container .row {
    margin-bottom: 10px;
}

.platform-link i {
    color: var(--color-8);
    font-size: 5rem;
}
.platform-link i:hover {
    color: var(--color-3);

}
.platform-link img {
    border: 1px var(--color-1) solid;
    border-radius: 4px;
}

.platform-link img:hover {
    box-shadow: 0 0 5px var(--color-3);

}