/* --- Variablen --- */
:root {
    --color-1: #ffeded;
    --color-2: #ffdbdb;
    --color-3: #ffcaca;
    --color-4:  #ffb8b8;
    --color-5:  #ffa6a6;
    --color-6:  #ff9494;
    --color-7: #ff8383;
    --color-8: #ff7171;
    --color-9: #df6363;
    --color-10: #bf5555;
    --color-11: #9f4747;
    --color-12: #803838;
    --color-13: #602a2a;
    --color-14: #401c1c;
    --color-15: #200e0e;
}
/* --- Basic & Navbar --- */
body {
    background-color: var(--color-15);
    color: var(--color-1);
}

.fixed-navbar-space {
    min-height: 50px;
    margin-bottom: 20px;
}
.navbar-dark {
    background-color: var(--color-9);
    color: var(--color-1);
    box-shadow: 0 2px 5px var(--color-3);
}



section {
    /*min-height: 1000px;*/
    margin-bottom: 50px;
    background-color: rgba(100,100,100,0.1);
    border-radius: 4px;
}

.placeholder-img {
    background-color: white;

}

.jumbotron {
    margin-bottom: 0;

}


/*.profile-img-box {*/
/*    padding: 10px;*/
/*    border: solid 1px #D91557;*/
/*    border-radius: 4px;*/
/*    background-color: #D91557;*/
/*    display: inline-block;*/
/*}*/
.about-img-col {
    border: solid 5px #C0124D;
    background-color: #D91557;
    text-align: center;
}
.profile-img {

}

.card-img-top {
    color: red;
}
.main {
    padding-left: 0;
}
.read-more {
    text-decoration: underline;
}

.read-more:hover {
    color: white;
    text-shadow: 0 0 3px lightgray;
}


.card {
    background-color: var(--color-8);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header i {
    color: var(--color-5);
    /*color: rgb(20,20,20);*/
    font-size: 3rem;
    text-shadow: 0 0 2px var(--color-4);
}
    /*padding-right: 0;*/
    /*background-color:#A91143;*/

/* --- Footer --- */

footer {
    text-align: center;
    border: solid 2px var(--color-8);
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-mail {
    font-weight: bold;
    color: var(--color-8);
}
.contact-mail:hover {
    color: var(--color-1);
    background-color: var(--color-8);
}

.card-header.album-header {
    padding: 0;
}

.album-button {
    background-color: var(--color-8);
    color: var(--color-1);
}

