body {
    background-color: rgb(20,20,20);
    color: white;
}

.fixed-navbar-space {
    min-height: 50px;
    margin-bottom: 20px;
}
section {
    /*min-height: 1000px;*/
    margin-bottom: 50px;
    background-color: rgba(100,100,100,0.1);
    border-radius: 4px;
}

.placeholder-img {
    background-color: white;

}

.jumbotron {
    margin-bottom: 0;

}

.contact-mail {
  font-weight: bold;
  color: #D91557;
}


/*.profile-img-box {*/
/*    padding: 10px;*/
/*    border: solid 1px #D91557;*/
/*    border-radius: 4px;*/
/*    background-color: #D91557;*/
/*    display: inline-block;*/
/*}*/
.about-img-col {
    border: solid 5px #C0124D;
    background-color: #D91557;
    text-align: center;
}
.profile-img {

}

.card-img-top {
    color: red;
}
.main {
    padding-left: 0;
}
.read-more {
    text-decoration: underline;
}

.read-more:hover {
    color: white;
    text-shadow: 0 0 3px lightgray;
}
.card {
    background-color: #D91557;
    border-width: 5px;
    border-radius: 0;
}

    /*padding-right: 0;*/
    /*background-color:#A91143;*/
